[submodule "vendor/silex"]
	path = vendor/silex
	url = git://github.com/fabpot/Silex.git
[submodule "vendor/kayako"]
	path = vendor/kayako
	url = git://github.com/vslinko/Kayako-REST-API-Client.git
[submodule "vendor/twig"]
	path = vendor/twig
	url = git://github.com/fabpot/Twig.git
[submodule "web/vendor/microajax"]
	path = web/vendor/microajax
	url = git://github.com/vslinko/microajax.git
[submodule "web/vendor/JSON2"]
	path = web/vendor/JSON2
	url = git://github.com/douglascrockford/JSON-js.git
