* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #2e3436;
    font-family: "PT Sans", sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tbody th {
    width: 1px;
    height: 100px;
    padding: 0 50px;
    background-color: #555753;
    color: #eeeeec;
    white-space: nowrap;
}

tbody td {
    background-color: #888a85;
    vertical-align: top;
}

tbody div {
    position: absolute;
    width: 0;
    height: 100px;
    line-height: 100px;
    text-indent: 20px;
}

tfoot th, tfoot td {
    background-color: #babdb6;
}

tfoot div {
    width: 100px;
    padding: 10px 0;
    display: inline-block;
    border-left: 1px solid #2e3436;
    text-indent: 10px;
    font-size: 70%;
}
