<!DOCTYPE html>
<html>
<head>
    <title>Statistics</title>
    <link href="/css/statistics.css" rel="stylesheet" />
    <script src="/vendor/microajax/microajax.js"></script>
    <script src="/vendor/JSON2/json2.js"></script>
    <script src="/js/statistics.js"></script>
</head>
<body>
<table id="statistics"></table>
</body>
</html>
